# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\projects\Games\competition_3v3sankes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
